.loginPage {
    width: 30%;
    align-self: center;
    margin-top: 25px;
    background: #f9f9fe;
    border-radius: 8px;
    color: #2d2e46;

    @media screen and (max-width: 880px) {
        width: 80vw;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "SF UI Display" Thin;
        font-weight: 600;

        & h1 {
            width: 163px;
            height: 39px;
            margin-top: 25px;

            font-family: "Poppins";
            font-size: 26px;
            line-height: 39px;
        }

        & h2 {
            width: 75px;
            height: 33px;
            margin-top: 30px;

            font-family: "Poppins";
            font-size: 22px;
            line-height: 33px;
        }

        .inputs {
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .forgot {
            margin: 45px 45px 0 0;
            font-size: 14px;
            align-self: flex-end;

            text-decoration: none;
            color: #21268f;
        }

        .errorServer {
            height: 20px;
            width: 100%;
            color: red;
            align-self: center;
        }

        & button {
            width: 60%;
            height: 36px;
            margin-top: 30px;

            background: #21268f;
            box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
            border-radius: 30px;
            cursor: pointer;

            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            letter-spacing: 0.01em;

            color: #ececf9;

            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        }

        .dontHaveAcc {
            margin-top: 5px;
            font-size: 14px;
            line-height: 24px;
            color: #2d2e46;
            opacity: 0.5;
        }

        .signUp {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 25px;

            color: #21268f;
            text-decoration: none;
        }
    }
}
