.tableWrapper {
    width: 90%;
    overflow-x: auto;

    @media screen and (max-width: 1135px) {
        width: 100%;
    }

    .table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        & tr td {
            width: 20%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & thead tr {
            height: 42px;
            text-align: left;
            font-family: "SF UI Display" Thin;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            color: #2d2e46;

            & td {
                background: #ececf9;
                padding-left: 20px;
                position: relative;
                z-index: 1;
            }
        }

        & tr td:nth-child(1) {
            max-width: 60px;
        }

        & tr td:nth-child(2) {
            max-width: 5%;
        }
        & tr td:nth-child(3) {
            max-width: 10%;
        }

        & tr td:nth-child(4) {
            max-width: 80px;
        }

        & tbody tr {
            height: 42px;
            text-align: left;
        }

        & tbody tr:nth-child(even) {
            background-color: #f8f7fd;
        }

        & tbody td {
            padding-left: 20px;
            font-family: "SF UI Display" Thin;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }
    }
}
