.cardsContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 25px;
  background: #fefeff;
  border-radius: 8px;
  padding: 24px;

  @media screen and (max-width: 1135px) {
    width: 80%;
  }

  .title {
    display: flex;
    height: 33px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;

    color: #2d2e46;
  }

  & input {
    width: 100%;
    height: 36px;
    padding: 0 20px;
    margin-top: 20px;

    background: #ececf9;
    opacity: 0.5;
    border: 1px solid #635d80;
    box-sizing: border-box;
    border-radius: 2px;

    background: url(../../../assets/Union.png) no-repeat center right 10px;
  }
  & input::-webkit-search-decoration,
  & input::-webkit-search-cancel-button,
  & input::-webkit-search-results-button,
  & input::-webkit-search-results-decoration {
    display: none;
  }

  .tableWrapper {
    width: 90%;
    overflow-x: auto;

    @media screen and (max-width: 1135px) {
      width: 100%;
    }
    
    .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 25px;
      font-family: "SF UI Display" Thin;
      font-style: normal;
      font-size: 13px;
      line-height: 16px;

      color: #2d2e46;

      & thead tr td {
        height: 42px;

        background: #ececf9;
        font-weight: bold;
      }

      & tr td {
        height: 42px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & td {
        padding-left: 20px;
        font-weight: normal;
      }

      & tr td:nth-child(-n + 2) {
        padding-right: 20px;
        width: 30%;
      }

      & tr td:nth-child(3) {
        width: 10%;
      }

      & tbody tr:nth-child(even) {
        background-color: #f8f7fd;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
}
